@font-face {
  font-family: anton;
  src: url("../fonts/Anton-Regular.ttf");
}
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("../fonts/Montserrat-Medium.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: anton;
}

input,
textarea,
select,
option {
  font-family: "Montserrat", sans-serif;
}

input[type=submit], input[type=button] {
  font-family: anton;
}

.container {
  width: 1200px;
  margin: auto;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.italic {
  font-style: italic;
}

.flex {
  display: flex;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.red-blur {
  position: relative;
  font-size: 0;
}
.red-blur:hover div {
  opacity: 0;
}
.red-blur div {
  position: absolute;
  background-color: red;
  opacity: 0.3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.3s;
}

.hover-text {
  position: relative;
  overflow: hidden;
  font-size: 0;
}
.hover-text:hover div {
  right: 0;
  width: 100%;
}
.hover-text div {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -999px;
  transition: all 1s ease-in-out;
  background-color: rgba(255, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

@keyframes anim-out {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes anim-out-pseudo {
  0% {
    background: dodgerblue;
  }
  100% {
    background: transparent;
  }
}
.hoverable {
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.anim {
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
}

.anim:before {
  position: relative;
  content: "";
  display: block;
  margin-top: 100%;
}

.anim:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
}
.main-header {
  padding: 30px 0 0;
  background-color: #202020;
}
.main-header .container {
  width: 96%;
}
.main-header.log-in {
  background-color: black;
}
.main-header.log-in nav .menus {
  margin-right: 100px;
}
.main-header.log-in nav .menus li a {
  color: white;
  padding: 10px 30px;
}
.main-header.log-in nav .menus li a.active {
  color: #be0500;
}
.main-header.log-in nav .imgs {
  color: white;
  align-items: center;
}
.main-header.log-in nav .imgs .img img {
  width: 100%;
}
.main-header h2 {
  color: white;
  font-size: 49px;
}
.main-header h2 img {
  height: 60px;
}
.main-header nav .menus {
  margin-right: 150px;
  list-style-type: none;
}
.main-header nav .menus li a {
  display: inline-block;
  text-decoration: none;
  color: #be0500;
  font-size: 32px;
  font-weight: bold;
  padding: 10px 30px;
}
.main-header nav .menus li a.router-link-exact-active {
  background-color: white;
  color: #be0500;
}
.main-header nav .menus-mobile {
  display: none;
}
.main-header nav .btns {
  cursor: pointer;
  transition-duration: 0.3s;
}
.main-header nav .btns a {
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  padding: 10px 50px;
  text-align: center;
  border-radius: 10px;
  color: white;
  border: 3px solid #be0500;
  border-image: linear-gradient(#CC0913, #F07A34) 20 20;
  white-space: nowrap;
}
.main-header nav .btns:hover {
  opacity: 0.8;
}
.main-header nav .imgs {
  margin-left: 20px;
}
.main-header nav .imgs .img {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: white;
  margin-right: 16px;
}
.main-header nav .imgs .img.avatar {
  background-color: transparent;
}
.main-header nav .imgs .img a {
  font-size: 0;
}
.main-header nav .imgs .img img {
  width: 24px;
}

@media screen and (max-width: 768px) {
  .main-header {
    padding: 0;
  }
  .main-header .container {
    padding: 0 10px;
  }
  .main-header h2 {
    font-size: 32px;
  }
  .main-header h2 img {
    height: 26px;
  }
  .main-header nav {
    margin-right: 0;
  }
  .main-header nav .menus {
    display: none;
  }
  .main-header nav .menus-mobile {
    display: block;
  }
  .main-header nav .menus-mobile .menu-icon img {
    width: 32px;
  }
  .main-header nav .menus-mobile .menus-list {
    display: none;
    position: absolute;
    top: 49px;
    right: 0;
    background-color: #ddd;
    z-index: 9999;
    list-style-type: none;
  }
  .main-header nav .menus-mobile .menus-list.active {
    display: block;
  }
  .main-header nav .menus-mobile .menus-list li a {
    color: #444;
    font-size: 13px;
    text-decoration: none;
    padding: 10px 30px;
    display: inline-block;
  }
  .main-header nav .btns {
    display: none;
  }
  .main-header nav .btns:hover {
    opacity: 0.8;
  }
  .main-header nav .imgs {
    display: none;
  }
}
footer .map {
  color: #ddd;
  padding: 40px 0;
  background-image: url(../img/footer-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: none;
}
footer .map .container {
  width: 90%;
  margin: auto;
}
footer .map .left h2 {
  font-size: 60px;
  color: white;
}
footer .map .left h2 img {
  height: 60px;
}
footer .map .left p {
  line-height: 1.8;
  font-size: 18px;
  color: gray;
}
footer .map .right .nav {
  margin-bottom: 50px;
}
footer .map .right .nav div {
  margin-left: 50px;
}
footer .map .right .nav div a {
  color: white;
  text-decoration: none;
  font-size: 32px;
}
footer .map .right .imgs {
  margin-top: 30px;
  justify-content: flex-end;
}
footer .map .right .imgs .img {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: white;
  margin-right: 16px;
}
footer .map .right .imgs .img a {
  font-size: 0;
}
footer .map .right .imgs .img img {
  width: 24px;
}
footer .info {
  text-align: center;
  padding: 20px 0;
  font-size: 18px;
  background-color: #121212;
  color: white;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 768px) {
  footer .map {
    background-image: none;
    background-color: #BE0711;
    text-align: center;
    display: block;
  }
  footer .map .container {
    width: 100%;
    display: block;
  }
  footer .map .left p {
    color: white;
  }
  footer .map .right .nav {
    display: none;
  }
  footer .map .right .imgs {
    justify-content: center;
  }
}
.home .slogn {
  margin-top: 10px;
  font-size: 0;
}
.home .slogn video {
  width: 100%;
}
.home .our-mission {
  background-color: #202020;
}
.home .our-mission .container {
  align-items: flex-end;
  padding: 0 0 40px;
}
.home .our-mission .item h2 {
  color: #970404;
  font-size: 48px;
  padding-top: 40px;
  margin-bottom: 30px;
  text-align: center;
}
.home .our-mission .item > div {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home .our-mission .item > div p {
  color: #ddd;
  line-height: 1.8;
  font-size: 20px;
  text-align: center;
  padding: 0 20px;
}
.home .our-programs {
  background-color: #121212;
  padding: 40px 0;
}
.home .our-programs .title {
  text-align: center;
  margin-bottom: 100px;
}
.home .our-programs .title h2 {
  color: #970404;
  font-size: 48px;
  margin-bottom: 20px;
}
.home .our-programs .title p {
  color: #ddd;
}
.home .our-programs .list .item {
  color: #ddd;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}
.home .our-programs .list .item .left {
  margin: 20px;
}
.home .our-programs .list .item .left h3 {
  color: white;
  font-size: 24px;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 700;
}
.home .our-programs .list .item .left div {
  font-size: 20px;
  color: #A7A7AD;
}
.home .our-programs .list .item .left p {
  margin-top: 10px;
  color: gray;
  line-height: 25px;
}
.home .our-programs .list .item a {
  text-decoration: none;
  display: inline-block;
  color: white;
}
.home .our-programs .list .item .apply-btn {
  text-transform: uppercase;
  font-size: 18px;
  padding: 10px 50px;
  text-align: center;
  background-image: linear-gradient(to right, #CC0913, #F07A34);
  transition-duration: 0.3s;
}
.home .our-programs .list .item .apply-btn:hover {
  opacity: 0.8;
}
.home .our-events {
  background-color: #202020;
  padding: 40px 0;
}
.home .our-events .title {
  text-align: center;
}
.home .our-events .title h2 {
  color: #970404;
  font-size: 48px;
  margin-bottom: 20px;
}
.home .our-events .title p {
  color: #ddd;
  margin-bottom: 80px;
}
.home .our-events .imgs .img1 .left {
  width: 70%;
  margin-right: 20px;
}
.home .our-events .imgs .img1 .left > div:nth-child(1) {
  margin-bottom: 20px;
}
.home .our-events .imgs .img1 .left > div:nth-child(1) img {
  width: 100%;
  height: 400px;
}
.home .our-events .imgs .img1 .left > div:nth-child(2) > div {
  width: 49%;
}
.home .our-events .imgs .img1 .left > div:nth-child(2) > div:nth-child(1) {
  margin-right: 20px;
}
.home .our-events .imgs .img1 .left > div:nth-child(2) img {
  width: 100%;
  height: 300px;
}
.home .our-events .imgs .img1 .right {
  width: 30%;
}
.home .our-events .imgs .img1 .right div:nth-child(1) {
  margin-bottom: 20px;
}
.home .our-events .imgs .img1 .right div:nth-child(1) img {
  width: 100%;
  height: 300px;
}
.home .our-events .imgs .img1 .right div:nth-child(2) img {
  width: 100%;
  height: 400px;
}
.home .our-events .imgs .img2 {
  margin-top: 20px;
}
.home .our-events .imgs .img2 .left {
  width: 30%;
  margin-right: 20px;
}
.home .our-events .imgs .img2 .left img {
  width: 100%;
  height: 340px;
}
.home .our-events .imgs .img2 .right {
  width: 70%;
}
.home .our-events .imgs .img2 .right img {
  width: 100%;
  height: 340px;
}
.home .our-partners {
  background-color: #121212;
  padding: 50px 0 80px;
  text-align: center;
}
.home .our-partners h2 {
  color: #970404;
  font-size: 48px;
  margin-bottom: 50px;
}
.home .our-partners .inner {
  align-items: center;
}
.home .our-partners .inner2 {
  margin-top: 50px;
}
.home .our-partners .item {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}
.home .our-partners .item .img img {
  padding: 0;
  width: 200px;
  filter: grayscale(100%);
  transition-duration: 0.3s;
}
.home .our-partners .item .img img:hover {
  filter: grayscale(0);
}
.home .our-partners .item h3 {
  color: white;
  margin: 20px 0;
  font-size: 30px;
}
.home .join-us {
  background-image: url(../img/hand-of-referee-holding-puck-over-ice-rink-and-two-42RJUAZ.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 120px 0;
  position: relative;
}
.home .join-us .inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
}
.home .join-us .container {
  position: relative;
  z-index: 99;
}
.home .join-us h2 {
  color: #970404;
  font-size: 48px;
  margin-bottom: 50px;
  text-align: center;
}
.home .join-us h2 span {
  color: white;
}
.home .join-us .content .text {
  flex-grow: 1;
}
.home .join-us .content .text p {
  font-size: 20px;
  line-height: 1.8;
  color: white;
  margin: auto;
}
.home .join-us .content .btn {
  cursor: pointer;
  flex-shrink: 0;
  text-align: right;
  margin: auto;
  transition: 0.3s ease-in-out;
  background-image: linear-gradient(to right, #CC0913, #F07A34);
  padding: 10px 50px;
  cursor: pointer;
  transition-duration: 0.3s;
}
.home .join-us .content .btn a {
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  color: white;
}
.home .join-us .content .btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .home .slogn {
    margin-top: 0;
  }
  .home .our-mission .item > div p {
    text-align: center;
    font-size: 24px;
  }
  .home .our-programs {
    padding: 50px 10px;
  }
  .home .our-programs .flex-between-center {
    display: block;
  }
  .home .our-programs .title {
    margin-bottom: 30px;
  }
  .home .our-programs .list .item:nth-last-child(1) {
    border: none;
  }
  .home .our-programs .list .item .right {
    margin-top: 20px;
  }
  .home .our-events {
    padding: 50px 0 0;
  }
  .home .our-events .flex-between {
    display: block;
  }
  .home .our-events div {
    width: 100% !important;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
  }
  .home .our-events img {
    margin-bottom: 20px;
    height: auto !important;
  }
  .home .our-events .imgs .img2 .right img {
    margin-bottom: 0;
  }
  .home .our-partners {
    text-align: center;
    padding: 50px 10px;
  }
  .home .our-partners .flex-between {
    display: block;
  }
  .home .our-partners .title h2 {
    margin-bottom: 30px;
  }
  .home .our-partners .inner {
    display: block;
  }
  .home .our-partners .inner .item {
    margin-bottom: 50px;
    display: block;
  }
  .home .join-us {
    display: none;
  }
}
.about .slogn {
  margin-top: 10px;
  font-size: 0;
}
.about .slogn video {
  width: 100%;
}
.about .our-story {
  background-color: #202020;
  padding: 40px 0;
}
.about .our-story .title {
  margin-bottom: 50px;
}
.about .our-story .title h2 {
  color: #970404;
  font-size: 48px;
  text-align: center;
}
.about .our-story .content .item {
  width: 49%;
}
.about .our-story .content .item p {
  color: #ddd;
  margin-bottom: 20px;
  line-height: 2;
  font-size: 17px;
}
.about .our-commitment {
  background-color: #121212;
  padding-bottom: 40px;
}
.about .our-commitment h2 {
  color: #970404;
  font-size: 48px;
  margin-bottom: 50px;
  text-align: center;
  padding-top: 40px;
}
.about .our-commitment .content h3 {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 700;
  color: white;
  font-size: 30px;
  margin-bottom: 15px;
}
.about .our-commitment .content p {
  font-size: 18px;
  line-height: 1.8;
  color: #ddd;
  margin: auto;
}
.about .our-commitment .content .top {
  display: flex;
  justify-content: space-between;
  height: 240px;
  margin-bottom: 2%;
}
.about .our-commitment .content .top div {
  background-color: #CB2025;
}
.about .our-commitment .content .top .left {
  width: 68%;
  padding: 20px;
}
.about .our-commitment .content .top .right {
  width: 30%;
  padding: 20px;
}
.about .our-commitment .content .bottom {
  display: flex;
  justify-content: space-between;
}
.about .our-commitment .content .bottom .left {
  width: 68%;
}
.about .our-commitment .content .bottom .left .lt {
  margin-bottom: 2%;
  height: 240px;
}
.about .our-commitment .content .bottom .left .lt .lt-l {
  background-color: #3D3D3D;
  width: 49%;
  padding: 20px;
}
.about .our-commitment .content .bottom .left .lt .lt-r {
  background-color: #CB2025;
  width: 49%;
  padding: 20px;
}
.about .our-commitment .content .bottom .left .lb {
  background-color: #CB2025;
  height: 240px;
  padding: 20px;
}
.about .our-commitment .content .bottom .right {
  width: 30%;
  background-color: #3D3D3D;
  height: 496px;
  padding: 20px;
}
.about .our-services {
  background-color: #212121;
  padding: 40px 0;
}
.about .our-services .title {
  margin-bottom: 50px;
}
.about .our-services .title h2 {
  color: #970404;
  font-size: 48px;
  text-align: center;
}
.about .our-services .content {
  text-align: center;
  align-items: center;
}
.about .our-services .content .item {
  width: 320px;
}
.about .our-services .content .services {
  background-color: #CB2026;
  text-align: center;
  padding-top: 10px;
  display: inline-block;
  margin-left: 25px;
  margin-right: 25px;
}
.about .our-services .content h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-style: italic;
  font-weight: 700;
  color: white;
}
.about .our-services .content p {
  color: #ddd;
  margin-bottom: 20px;
}
.about .our-services .content .img img {
  width: 320px;
  height: 240px;
}
.about .our-services .btn {
  text-align: center;
  margin-top: 50px;
  cursor: pointer;
  transition-duration: 0.3s;
}
.about .our-services .btn .link1 {
  color: white;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  text-decoration: none;
}
.about .our-services .btn .link2 {
  display: none;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 50px;
  text-align: center;
  color: white;
  background-image: linear-gradient(to right, #CC0913, #F07A34);
}
.about .our-services .btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .about .slogn {
    margin-top: 0;
  }
  .about .our-story {
    padding: 50px 20px;
  }
  .about .our-story .content {
    display: block;
  }
  .about .our-story .content .item {
    width: 100%;
  }
  .about .our-commitment {
    padding: 50px 0 0;
  }
  .about .our-commitment .flex-between {
    display: block;
  }
  .about .our-commitment .title {
    text-align: center;
  }
  .about .our-commitment .content .top {
    display: block;
    height: auto;
  }
  .about .our-commitment .content .top .left {
    width: 100%;
    margin-bottom: 20px;
  }
  .about .our-commitment .content .top .right {
    width: 100%;
    margin-bottom: 20px;
    background-color: #3D3D3D;
  }
  .about .our-commitment .content .bottom {
    display: block;
  }
  .about .our-commitment .content .bottom .left {
    width: 100%;
  }
  .about .our-commitment .content .bottom .left .lt {
    height: auto;
  }
  .about .our-commitment .content .bottom .left .lt .lt-l {
    width: 100%;
    margin-bottom: 20px;
    background-color: #CB2025;
  }
  .about .our-commitment .content .bottom .left .lt .lt-r {
    width: 100%;
    margin-bottom: 20px;
    background-color: #3D3D3D;
  }
  .about .our-commitment .content .bottom .left .lb {
    height: auto;
    margin-bottom: 20px;
  }
  .about .our-commitment .content .bottom .right {
    width: 100%;
    height: auto;
  }
  .about .our-services {
    padding: 50px 10px;
    text-align: center;
  }
  .about .our-services .content {
    display: block;
  }
  .about .our-services .content .item {
    width: 100%;
    margin-bottom: 40px;
    margin-left: 0;
    margin-right: 0;
  }
  .about .our-services .btn {
    cursor: pointer;
    transition-duration: 0.3s;
  }
  .about .our-services .btn .link1 {
    display: none;
  }
  .about .our-services .btn .link2 {
    display: inline-block;
  }
  .about .our-services .btn:hover {
    opacity: 0.8;
  }
}
.contact {
  background-color: #000000;
}
.contact .lets-chat {
  background-image: url(../img/hand-of-referee-holding-puck-over-ice-rink-and-two-42RJUAZ.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 150px 0;
  margin-top: 10px;
  position: relative;
}
.contact .lets-chat .inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
}
.contact .lets-chat .container {
  position: relative;
  z-index: 99;
}
.contact .lets-chat .left {
  display: flex;
  justify-content: center;
  text-align: center;
}
.contact .lets-chat .left .text h3 {
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
.contact .lets-chat .left .text p {
  color: white;
  font-size: 18px;
  line-height: 2;
}
.contact .lets-chat .imgs {
  justify-content: center;
  margin-top: 20px;
}
.contact .lets-chat .imgs .img {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: white;
  margin-right: 16px;
}
.contact .lets-chat .imgs .img a {
  font-size: 0;
}
.contact .lets-chat .imgs .img img {
  width: 24px;
}
.contact .contact-form {
  margin-top: 100px;
}
.contact .contact-form .container {
  width: 800px;
  margin: auto;
}
.contact .contact-form .title h2 {
  font-size: 48px;
  color: #970404;
}
.contact .contact-form .title p {
  line-height: 1.8;
  color: #ddd;
  margin-bottom: 30px;
  font-style: italic;
  font-weight: 500;
}
.contact .contact-form .title span {
  color: red;
}
.contact .contact-form .title #msg {
  background: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 16px;
  margin-bottom: 10px;
}
.contact .contact-form .item {
  margin: 20px 0;
}
.contact .contact-form .item:nth-child(1) div {
  width: 100%;
}
.contact .contact-form .item:nth-child(1) div input {
  width: 98%;
  border: none;
}
.contact .contact-form .item input,
.contact .contact-form .item textarea,
.contact .contact-form .item select {
  width: 100%;
  border: none;
  padding: 10px 10px;
  color: black;
  font-size: 20px;
}
.contact .contact-form .item p {
  color: gray;
  margin-bottom: 10px;
  font-size: 18px;
}
.contact .contact-form .item p span {
  color: #FF0000;
  font-size: 13px;
}
.contact .contact-form .btn {
  cursor: pointer;
  padding: 30px 0 60px;
  text-align: right;
  transition-duration: 0.3s;
}
.contact .contact-form .btn input {
  display: inline-block;
  font-size: 18px;
  padding: 10px 60px;
  border: none;
  text-align: center;
  color: white;
  border: none;
  cursor: pointer;
  background-image: linear-gradient(to right, #CC0913, #F07A34);
  background-color: transparent;
  font-size: 20PX;
}
.contact .contact-form .btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .contact .lets-chat {
    display: none;
  }
  .contact .contact-form {
    padding: 0 10px;
    padding-top: 20px;
    margin: 0;
  }
  .contact .contact-form .container {
    width: 100%;
  }
  .contact .contact-form .title {
    text-align: center;
  }
  .contact .contact-form form .item:nth-child(1) {
    display: block;
  }
  .contact .contact-form form .item:nth-child(1) > div:nth-child(1) {
    margin-bottom: 20px;
  }
  .contact .contact-form form .btn {
    cursor: pointer;
    text-align: center;
    transition-duration: 0.3s;
  }
  .contact .contact-form form .btn input {
    width: 100%;
    border: none;
  }
  .contact .contact-form form .btn:hover {
    opacity: 0.8;
  }
}
.program main {
  background-color: #020303;
  padding-top: 60px;
  margin-top: 10px;
}
.program main .nav {
  margin-bottom: 60px;
}
.program main .nav a {
  color: #970404;
  font-size: 18px;
  display: inline-block;
  text-decoration: none;
  padding-bottom: 10px;
  border-bottom: 2px solid #970404;
}
.program main .partner-education {
  padding-bottom: 80px;
}
.program main .partner-education h2 {
  color: #970404;
  font-size: 36px;
  margin-bottom: 20px;
}
.program main .partner-education .title {
  width: 40%;
}
.program main .partner-education .title p {
  color: #ddd;
  line-height: 3;
}
.program main .partner-education form {
  flex-grow: 1;
  margin-left: 80px;
}
.program main .partner-education form .item {
  margin: 20px 0;
}
.program main .partner-education form .item div {
  width: 100%;
}
.program main .partner-education form .item:nth-child(1) input {
  width: 98%;
}
.program main .partner-education form .item p {
  color: #ddd;
  margin-bottom: 5px;
}
.program main .partner-education form .item input, .program main .partner-education form .item textarea {
  width: 100%;
  background-color: #000;
  border-color: white;
  padding: 15px 20px;
  border-radius: 10px;
  color: #ddd;
}
.program main .partner-education form .btn {
  padding: 30px 0 60px;
  text-align: right;
  cursor: pointer;
  transition-duration: 0.3s;
}
.program main .partner-education form .btn input {
  display: inline-block;
  font-size: 18px;
  padding: 10px 60px;
  text-align: center;
  color: white;
  border: none;
  background-image: linear-gradient(to right, #CC0913, #F07A34);
  cursor: pointer;
  background-color: transparent;
  font-size: 20PX;
}
.program main .partner-education form .btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .program main {
    margin-top: 0;
    padding: 50px 10px 0;
  }
  .program main .flex-between {
    display: block;
  }
  .program main .partner-education h2 {
    text-align: center;
  }
  .program main .partner-education .title {
    width: 100%;
  }
  .program main .partner-education form {
    margin-left: 0;
  }
  .program main .partner-education form .btn {
    cursor: pointer;
    text-align: center;
    transition-duration: 0.3s;
  }
  .program main .partner-education form .btn:hover {
    opacity: 0.8;
  }
}
.login {
  background-image: url(../img/login-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;
}
.login .main-header {
  display: none;
}
.login .top {
  color: white;
  width: 90%;
  margin: auto;
  padding: 20px 0 20px;
  font-size: 50px;
}
.login .top img {
  height: 60px;
}
.login .login-box {
  background-color: rgba(43, 43, 43, 0.8);
  width: 500px;
  margin: auto;
  padding: 10px 50px;
}
.login .login-box h2 {
  color: white;
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
}
.login .login-box .img {
  text-align: center;
  margin-bottom: 10px;
}
.login .login-box .img img {
  height: 100px;
}
.login .login-box form #msg {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
  text-align: center;
}
.login .login-box form .item {
  margin-bottom: 20px;
}
.login .login-box form .item input {
  padding: 10px;
  width: 100%;
  border-radius: 6px;
  border-color: white;
  color: black;
}
.login .login-box form .link {
  text-align: center;
}
.login .login-box form .link a {
  color: #970404;
  font-size: 20px;
  text-decoration: none;
}
.login .login-box form .btn {
  cursor: pointer;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
  transition-duration: 0.3s;
}
.login .login-box form .btn input {
  display: inline-block;
  font-size: 17px;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  color: white;
  border: none;
  background-image: linear-gradient(to right, #CC0913, #F07A34);
  cursor: pointer;
  background-color: transparent;
  font-size: 24PX;
}
.login .login-box form .btn:hover {
  opacity: 0.8;
}
.login footer {
  display: none;
}

@media screen and (max-width: 768px) {
  .login {
    background-image: none;
    background-color: #121212;
  }
  .login .main-header {
    display: block;
  }
  .login .top {
    display: none;
  }
  .login .login-box {
    background-color: transparent;
    width: 100%;
  }
  .login .login-box h2 {
    display: none;
  }
  .login footer {
    display: block;
  }
}
.profile {
  margin-top: 10px;
  background-color: #202020;
  padding: 100px 0;
}
.profile .container {
  justify-content: center;
}
.profile .title {
  display: none;
}
.profile .left {
  margin-right: 60px;
}
.profile .left img {
  height: 400px;
}
.profile .right {
  color: white;
  font-size: 24px;
}
.profile .right h2 {
  font-size: 50px;
  margin-bottom: 30px;
}
.profile .right div form #msg {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 16px;
}
.profile .right div form p {
  margin: 20px 0;
}
.profile .right div form p span {
  font-family: "Montserrat", sans-serif;
}
.profile .right div form p span:nth-child(1) {
  display: inline-block;
  width: 150px;
  font-style: italic;
}
.profile .right div form p span:nth-child(2) {
  color: gray;
}
.profile .right div form p span:nth-child(2) input,
.profile .right div form p span:nth-child(2) select {
  padding: 5px;
  width: 200px;
  font-family: "Montserrat", sans-serif;
}
.profile .right div form p span:nth-child(2) option {
  font-family: "Montserrat", sans-serif;
}
.profile .right div form .btn {
  cursor: pointer;
  text-align: right;
  margin-top: 30px;
  transition-duration: 0.3s;
}
.profile .right div form .btn input {
  display: inline-block;
  font-size: 17px;
  padding: 5px 30px;
  text-align: center;
  color: white;
  border: none;
  background-image: linear-gradient(to right, #CC0913, #F07A34);
  cursor: pointer;
  background-color: transparent;
  font-size: 24PX;
}
.profile .right div form .btn:hover {
  opacity: 0.8;
}
.profile footer .map {
  display: none;
}

@media screen and (max-width: 768px) {
  .profile {
    margin-top: 0;
    padding: 10px;
  }
  .profile .main-header.log-in {
    background-color: #BE0711;
  }
  .profile .flex {
    display: block;
  }
  .profile .title {
    display: block;
    color: white;
    text-align: center;
    font-size: 30px;
    margin: 30px 0 20px;
  }
  .profile .left {
    text-align: center;
    margin-right: 0;
  }
  .profile .left img {
    width: 160px;
    height: auto;
  }
  .profile .right {
    font-size: 18px;
  }
  .profile .right h2 {
    display: none;
  }
  .profile .right div form p span:nth-child(1) {
    width: 120px;
  }
  .profile .right div form .btn {
    cursor: pointer;
    transition-duration: 0.3s;
  }
  .profile .right div form .btn input {
    width: 100%;
  }
  .profile .right div form .btn:hover {
    opacity: 0.8;
  }
  .profile footer .map {
    display: block;
  }
}
.classes {
  height: 80vh;
  margin-top: 10px;
  background-color: #202020;
  padding-top: 50px;
}
.classes .title h2 {
  color: white;
  font-size: 40px;
  margin-bottom: 20px;
}
.classes .content .row1 {
  padding-bottom: 80px;
}
.classes .content .row1 .item {
  width: 360px;
}
.classes .content .row1 .item .video video {
  width: 100%;
}
.classes .content .row1 .item .title {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.classes .content .row1 .item .title h3 {
  color: #ED0000;
}
.classes .content .row1 .item p {
  color: white;
  line-height: 1.8;
}
.classes footer .map {
  display: none;
}

@media screen and (max-width: 768px) {
  .classes {
    height: 170vh;
    margin-top: 0;
  }
  .classes .main-header.log-in {
    background-color: #BE0711;
  }
  .classes .flex-between {
    display: block;
  }
  .classes .title {
    text-align: center;
    margin-bottom: 20px;
  }
  .classes .content .row1 {
    margin-bottom: 0;
  }
  .classes .content .row1 .item {
    width: 100%;
    margin-bottom: 20px;
  }
  .classes .content .row1 .item:nth-last-child(1) {
    margin-bottom: 0;
    padding-bottom: 20px;
  }
  .classes .content .row1 .item .title {
    margin: 5px 10px;
    font-size: 18px;
  }
  .classes .content .row1 .item .title.flex-between {
    display: flex;
    align-items: center;
  }
  .classes .content .row1 .item p {
    margin: 5px 10px;
    font-size: 16px;
  }
  .classes footer .map {
    display: block;
  }
}
.task {
  margin-top: 10px;
  background-color: #202020;
  padding: 50px 0 100px;
}
.task .title h2 {
  font-size: 40px;
  color: white;
  margin-bottom: 20px;
}
.task .calendar table {
  width: 100%;
  text-align: center;
}
.task .calendar table th,
.task .calendar table td {
  font-family: "Montserrat", sans-serif;
}
.task .calendar table thead tr th {
  background-color: #CB2025;
  padding: 20px 10px;
  color: white;
  font-size: 20px;
  font-style: italic;
}
.task .calendar table tbody tr td {
  background-color: white;
  padding: 10px;
}
.task .calendar table tbody tr td img {
  height: 20px;
  margin-right: 5px;
}
.task .c2 {
  display: none;
}

@media screen and (max-width: 768px) {
  .task {
    margin-top: 0;
    padding: 50px 0 0;
  }
  .task .main-header.log-in {
    background-color: #BE0711;
  }
  .task .title h2 {
    text-align: center;
  }
  .task .c1 {
    display: none;
  }
  .task .c2 {
    display: block;
  }
  .task .c2 .item {
    border-bottom: 5px solid white;
  }
  .task .c2 .item:nth-last-child(1) {
    border-bottom: none;
  }
  .task .c2 .item p {
    display: flex;
    align-items: center;
  }
  .task .c2 .item p span {
    font-family: "Montserrat", sans-serif;
  }
  .task .c2 .item p:nth-child(even) span:nth-child(1) {
    background-color: #CB2025;
    font-style: italic;
  }
  .task .c2 .item p:nth-child(odd) span:nth-child(1) {
    background-color: #3D3D3D;
    font-style: italic;
  }
  .task .c2 .item p span {
    display: inline-block;
    width: 100px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  .task .c2 .item p span:nth-child(1) {
    color: white;
    text-align: center;
    margin-right: 20px;
  }
  .task .c2 .item p span:nth-child(2) {
    color: gray;
    flex-grow: 1;
  }
  .task .c2 .item p span:nth-child(2) img {
    height: 24px;
  }
}
.reminder {
  margin-top: 10px;
  background-color: #202020;
  color: white;
  padding: 50px;
}
.reminder h2 {
  font-size: 40px;
  margin-bottom: 20px;
}
.reminder .item .title {
  background-color: #CB2025;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 24px;
  font-style: italic;
}
.reminder .item .title p {
  font-family: "Montserrat", sans-serif;
}
.reminder .item .todos {
  margin-bottom: 50px;
}
.reminder .item .todos p {
  line-height: 1.8;
  font-size: 18px;
  display: flex;
  font-family: "Montserrat", sans-serif;
}
.reminder .item .todos p.done {
  background-color: #1BBC48;
}
.reminder .item .todos p::before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  background-color: white;
  margin-right: 10px;
  position: relative;
  top: 15px;
  border-radius: 3px;
}
.reminder footer .map {
  display: none;
}

@media screen and (max-width: 768px) {
  .reminder {
    margin-top: 0;
    padding: 50px 0;
  }
  .reminder .main-header.log-in {
    background-color: #BE0711;
  }
  .reminder h2 {
    text-align: center;
  }
  .reminder .item .todos {
    padding: 0 10px;
  }
  .reminder .item .todos p.done {
    background-color: transparent;
    color: #1BBC48;
  }
  .reminder footer .map {
    display: block;
  }
}
.members {
  font-family: "Montserrat", sans-serif;
  margin-top: 10px;
  background-color: #202020;
  padding: 50px 0 100px;
}
.members h2 {
  font-size: 40px;
  color: white;
  margin-bottom: 20px;
}
.members .calendar .msg {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 16px;
  margin-bottom: 10px;
}
.members .calendar table {
  width: 100%;
  text-align: center;
  align-items: center;
}
.members .calendar table th,
.members .calendar table td {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.members .calendar table thead tr th {
  background-color: #CB2025;
  padding: 20px 10px;
  color: white;
  font-size: 20px;
  font-style: italic;
}
.members .calendar table tbody {
  cursor: default;
}
.members .calendar table tbody tr td {
  background-color: white;
  padding: 10px;
  white-space: nowrap;
}
.members .calendar table tbody tr td input {
  text-align: center;
  align-items: center;
}
.members .calendar table tbody tr td select {
  border: none;
  font-size: 20px;
  padding-right: 10px;
}
.members .calendar table tbody tr td .edit-btn, .members .calendar table tbody tr td .delete-btn {
  font-size: small;
  padding: 5px 10px;
  border: 1px solid #333333;
  border-radius: 30px;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  cursor: pointer;
  transition-duration: 0.3s;
  filter: grayscale(100%);
}
.members .calendar table tbody tr td .edit-btn:hover, .members .calendar table tbody tr td .delete-btn:hover, .members .calendar table tbody tr td .save-btn:hover {
  filter: grayscale(0);
}
.members .calendar table tbody tr td .edit-btn {
  border: 1px solid #ffcc00;
  background-color: #ffcc00;
  color: #202020;
}
.members .calendar table tbody tr td .delete-btn {
  border: 1px solid #cc3300;
  background-color: #cc3300;
  color: white;
}
.members .calendar table tbody tr td .save-btn {
  font-size: small;
  padding: 5px 10px;
  border: 1px solid #333333;
  border-radius: 30px;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  cursor: pointer;
  transition-duration: 0.3s;
  border: 1px solid #339900;
  background-color: #339900;
  color: white;
}
.members .calendar table tbody tr td .delete-btn-disabled:hover {
  filter: grayscale(100%);
  cursor: default;
}
.members .calendar table tbody tr td .star {
  color: red;
  font-style: bold;
}
.members .calendar table tbody tr td .add {
  color: #339900;
}
.members .c2 {
  display: none;
}

@media screen and (max-width: 768px) {
  .members {
    margin-top: 0;
    padding: 50px 0 0;
  }
  .members .main-header.log-in {
    background-color: #BE0711;
  }
  .members h2 {
    text-align: center;
  }
  .members .c1 {
    display: none;
  }
  .members .c2 {
    display: block;
  }
  .members .c2 .item {
    border-bottom: 5px solid white;
    margin-bottom: 40px;
  }
  .members .c2 .item:nth-last-child(1) {
    border-bottom: none;
  }
  .members .c2 .item .note {
    margin-bottom: 15px;
    text-align: center;
    align-items: center;
    line-height: 30px;
  }
  .members .c2 .item p {
    display: flex;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    color: white;
  }
  .members .c2 .item p span {
    font-family: "Montserrat", sans-serif;
  }
  .members .c2 .item p:nth-child(even) span:nth-child(1) {
    background-color: #CB2025;
    font-style: italic;
  }
  .members .c2 .item p:nth-child(odd) span:nth-child(1) {
    background-color: #3D3D3D;
    font-style: italic;
  }
  .members .c2 .item p span {
    display: inline-block;
    width: 150px;
    line-height: 40px;
    margin-bottom: 10px;
  }
  .members .c2 .item p span:nth-child(1) {
    color: white;
    text-align: center;
    margin-right: 20px;
  }
  .members .c2 .item p span:nth-child(2) {
    color: gray;
    flex-grow: 1;
  }
  .members .c2 .item hr {
    border: 1px solid white;
    background: white;
  }
}

/*# sourceMappingURL=main.css.map */
