* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
.container {
  width: 1200px;
  margin: auto;
}
.flex {
  display: flex;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-align-center {
  display: flex;
  align-items: center;
}
.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.red-blur {
  position: relative;
  font-size: 0;
}
.red-blur:hover div {
  opacity: 0;
}
.red-blur div {
  position: absolute;
  background-color: red;
  opacity: 0.3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.3s;
}
@keyframes anim-out {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes anim-out-pseudo {
  0% {
    background: dodgerblue;
  }
  100% {
    background: transparent;
  }
}
.hoverable {
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.hoverable:hover > .anim {
  animation: anim-out 0.75s;
}
.hoverable:hover > .anim:after {
  animation: anim-out-pseudo 0.75s;
}
.anim {
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
}
.anim:before {
  position: relative;
  content: '';
  display: block;
  margin-top: 100%;
}
.anim:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
}
.main-header {
  padding: 30px 0;
}
.main-header h2 {
  color: white;
}
.main-header nav ul {
  margin-right: 200px;
  list-style-type: none;
}
.main-header nav ul li {
  margin: 0 20px;
}
.main-header nav ul li a {
  display: inline-block;
  text-decoration: none;
  color: #ddd;
  font-size: 18px;
}
.main-header nav ul li a.active {
  color: white;
  border-bottom: 2px solid #CC0000;
}
.main-header nav .btns a {
  text-decoration: none;
  line-height: 50px;
  display: inline-block;
  width: 150px;
  text-align: center;
  border-radius: 50px;
}
.main-header nav .btns a:nth-child(1) {
  background-color: white;
  color: black;
  margin-right: 20px;
}
.main-header nav .btns a:nth-child(2) {
  background-image: linear-gradient(to bottom, #BA0101, #1A1010);
  color: white;
}
footer .map {
  color: #ddd;
  background-image: linear-gradient(to bottom, #4F0C0C, #C90101, #510C0C);
  padding: 100px 0;
}
footer .map .left h2 {
  margin-bottom: 20px;
  font-size: 28px;
}
footer .map .left p {
  width: 400px;
  line-height: 1.8;
}
footer .map .left .imgs {
  margin-top: 30px;
}
footer .map .left .imgs .img {
  width: 50px;
  height: 50px;
  border-radius: 40px;
  background-color: white;
  margin-right: 16px;
}
footer .map .left .imgs .img img {
  width: 24px;
}
footer .map .right > div {
  margin-left: 60px;
}
footer .map .right > div h3 {
  margin-bottom: 24px;
  font-size: 18px;
}
footer .map .right > div div {
  margin: 10px 0;
}
footer .map .right > div div a {
  color: #ddd;
  text-decoration: none;
  font-size: 18px;
}
footer .info {
  background-color: #121212;
  padding: 30px 0;
  color: white;
  font-size: 15px;
}
footer .info .right a {
  text-decoration: none;
  color: white;
}
footer .info .right a:nth-child(1) {
  margin-right: 30px;
}
.home .main-header {
  background-image: url(../img/thumbnail_IMG_1045.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.home .main-header .slogn {
  margin: 100px 0 140px;
  text-align: center;
}
.home .main-header .slogn h2 {
  color: red;
  font-size: 50px;
}
.home .main-header .slogn div {
  margin-top: 20px;
  color: white;
}
.home main .our-mission {
  background-color: #212121;
}
.home main .our-mission .container {
  align-items: flex-end;
  padding: 60px 0;
}
.home main .our-mission .left {
  margin-right: 50px;
}
.home main .our-mission .left h2 {
  color: red;
  font-size: 48px;
  margin-bottom: 30px;
}
.home main .our-mission .left p {
  color: #ddd;
  line-height: 1.8;
}
.home main .our-mission .left div {
  text-align: right;
  margin-top: 30px;
}
.home main .our-mission .left div a {
  display: inline-block;
  padding: 15px 30px;
  background-image: linear-gradient(to bottom, #BA0101, #1A1010);
  color: white;
  text-decoration: none;
  border-radius: 20px;
}
.home main .our-mission .right > div:nth-child(1) img {
  width: 290px;
  height: 210px;
}
.home main .our-mission .right > div:nth-child(2) {
  margin-top: 20px;
}
.home main .our-mission .right > div:nth-child(2) img {
  width: 600px;
  height: 210px;
}
.home main .our-programs {
  background-color: #121212;
  padding: 50px;
}
.home main .our-programs .title {
  text-align: center;
}
.home main .our-programs .title h2 {
  color: red;
  font-size: 48px;
  margin-bottom: 20px;
}
.home main .our-programs .title p {
  color: #ddd;
}
.home main .our-programs .list .item {
  color: #ddd;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}
.home main .our-programs .list .item h3 {
  color: white;
  font-size: 18px;
  margin-bottom: 10px;
}
.home main .our-programs .list .item a {
  display: inline-block;
  padding: 15px 50px;
  background-image: linear-gradient(to bottom, #BA0101, #1A1010);
  color: white;
  text-decoration: none;
  border-radius: 20px;
}
.home main .our-events {
  background-color: #212121;
  padding: 50px;
}
.home main .our-events .title {
  text-align: center;
}
.home main .our-events .title h2 {
  color: red;
  font-size: 48px;
  margin-bottom: 20px;
}
.home main .our-events .title p {
  color: #ddd;
  margin-bottom: 80px;
}
.home main .our-events .imgs .img1 .left {
  width: 70%;
  margin-right: 20px;
}
.home main .our-events .imgs .img1 .left > div:nth-child(1) {
  margin-bottom: 20px;
}
.home main .our-events .imgs .img1 .left > div:nth-child(1) img {
  width: 100%;
  height: 400px;
}
.home main .our-events .imgs .img1 .left > div:nth-child(2) > div {
  width: 49%;
}
.home main .our-events .imgs .img1 .left > div:nth-child(2) > div:nth-child(1) {
  margin-right: 20px;
}
.home main .our-events .imgs .img1 .left > div:nth-child(2) img {
  width: 100%;
  height: 300px;
}
.home main .our-events .imgs .img1 .right {
  width: 30%;
}
.home main .our-events .imgs .img1 .right div:nth-child(1) {
  margin-bottom: 20px;
}
.home main .our-events .imgs .img1 .right div:nth-child(1) img {
  width: 100%;
  height: 300px;
}
.home main .our-events .imgs .img1 .right div:nth-child(2) img {
  width: 100%;
  height: 400px;
}
.home main .our-events .imgs .img2 {
  margin-top: 20px;
}
.home main .our-events .imgs .img2 .left {
  width: 30%;
  margin-right: 20px;
}
.home main .our-events .imgs .img2 .left img {
  width: 100%;
  height: 340px;
}
.home main .our-events .imgs .img2 .right {
  width: 70%;
}
.home main .our-events .imgs .img2 .right img {
  width: 100%;
  height: 340px;
}
.home main .our-events .btn {
  text-align: right;
}
.home main .our-events .btn a {
  display: inline-block;
  padding: 8px 20px;
  background-image: linear-gradient(to bottom, #B11D46, #241217);
  color: white;
  text-decoration: none;
  border-radius: 20px;
  margin-top: 60px;
}
.home main .our-partners {
  background-color: #121212;
  padding: 50px;
}
.home main .our-partners .title {
  text-align: center;
}
.home main .our-partners .title h2 {
  color: red;
  font-size: 48px;
  margin-bottom: 20px;
}
.home main .our-partners .title p {
  color: #ddd;
  margin-bottom: 80px;
}
.home main .our-partners .content {
  text-align: center;
}
.home main .our-partners .content .img img {
  width: 270px;
  height: 220px;
}
.home main .our-partners .content h3 {
  color: white;
  margin: 10px 0;
}
.home main .our-partners .content p {
  color: #ddd;
  margin-bottom: 20px;
}
.home main .our-partners .btn {
  text-align: center;
}
.home main .our-partners .btn a {
  display: inline-block;
  padding: 12px 20px;
  background-image: linear-gradient(to bottom, #BA0101, #1A1010);
  color: white;
  text-decoration: none;
  border-radius: 20px;
  margin-top: 60px;
}
.home main .join-us {
  background-image: url(../img/3.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 50px;
}
.home main .join-us h2 {
  color: red;
  font-size: 48px;
  margin-bottom: 50px;
  text-align: center;
}
.home main .join-us .content p {
  width: 800px;
  font-size: 18px;
  line-height: 1.8;
  color: #ddd;
  margin: auto;
}
.home main .join-us .content .btn {
  text-align: right;
  width: 800px;
  margin: auto;
  margin-top: 60px;
}
.home main .join-us .content .btn a {
  display: inline-block;
  padding: 12px 50px;
  background-image: linear-gradient(to bottom, #BA0101, #1A1010);
  color: white;
  text-decoration: none;
  border-radius: 20px;
}
.about .main-header {
  background-image: url(../img/3.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.about .main-header .slogn {
  margin: 100px 0 140px;
  text-align: center;
}
.about .main-header .slogn h2 {
  color: red;
  font-size: 50px;
}
.about main .who-are-we {
  background-color: #212121;
  padding: 50px;
}
.about main .who-are-we .title {
  margin-bottom: 50px;
}
.about main .who-are-we .title h2 {
  color: red;
  font-size: 48px;
}
.about main .who-are-we .content {
  text-align: center;
}
.about main .who-are-we .content .item {
  width: 240px;
}
.about main .who-are-we .content p {
  color: #ddd;
  margin-bottom: 20px;
}
.about main .who-are-we .content .img img {
  width: 240px;
  height: 280px;
}
.about main .our-commitment {
  background-color: #121212;
  padding: 50px;
}
.about main .our-commitment h2 {
  color: red;
  font-size: 48px;
  margin-bottom: 50px;
}
.about main .our-commitment .content p {
  width: 1100px;
  font-size: 18px;
  line-height: 1.8;
  color: #ddd;
  margin: auto;
}
.about main .our-services {
  background-color: #212121;
  padding: 50px;
}
.about main .our-services .title {
  margin-bottom: 50px;
}
.about main .our-services .title h2 {
  color: red;
  font-size: 48px;
}
.about main .our-services .content {
  text-align: center;
}
.about main .our-services .content .item {
  width: 240px;
}
.about main .our-services .content p {
  color: #ddd;
  margin-bottom: 20px;
}
.about main .our-services .content .img img {
  width: 240px;
  height: 280px;
}
.about main .our-services .btn {
  text-align: center;
  margin-top: 50px;
}
.about main .our-services .btn a {
  color: red;
  font-size: 18px;
}
.contact .main-header {
  background-color: #000000;
}
.contact main {
  background-color: #000000;
}
.contact main .lets-chat {
  padding-top: 100px;
}
.contact main .lets-chat .left {
  width: 500px;
}
.contact main .lets-chat .left img {
  width: 100%;
}
.contact main .lets-chat .right h2 {
  font-size: 48px;
  color: red;
  margin-bottom: 50px;
}
.contact main .lets-chat .right p {
  line-height: 1.8;
  color: #ddd;
}
.contact main .contact-form {
  margin-top: 100px;
}
.contact main .contact-form .item {
  margin: 20px 0;
}
.contact main .contact-form .item:nth-child(1) input {
  width: 49%;
}
.contact main .contact-form .item input,
.contact main .contact-form .item textarea {
  width: 100%;
  background-color: #000;
  border-color: white;
  padding: 15px 20px;
  border-radius: 10px;
  color: #ddd;
}
.contact main .contact-form .btn {
  padding: 30px 0 60px;
  text-align: right;
}
.contact main .contact-form .btn input {
  padding: 12px 30px;
  background-image: linear-gradient(to bottom, #BA0101, #1A1010);
  color: white;
  border-radius: 20px;
  border: none;
}
.program .main-header {
  background-color: #020303;
}
.program main {
  background-color: #020303;
  padding-top: 60px;
}
.program main .nav {
  margin-bottom: 60px;
}
.program main .nav a {
  color: white;
  font-size: 18px;
  display: inline-block;
  text-decoration: none;
  padding-bottom: 10px;
  border-bottom: 2px solid red;
}
.program main .partner-education .title h2 {
  color: red;
  font-size: 48px;
  margin-bottom: 20px;
}
.program main .partner-education .title p {
  color: #ddd;
  margin-bottom: 80px;
}
.program main .partner-education form .item {
  margin: 20px 0;
}
.program main .partner-education form .item:nth-child(1) input {
  width: 49%;
}
.program main .partner-education form .item input {
  width: 100%;
  background-color: #000;
  border-color: white;
  padding: 15px 20px;
  border-radius: 10px;
  color: #ddd;
}
.program main .partner-education form .btn {
  padding: 30px 0 60px;
  text-align: right;
}
.program main .partner-education form .btn input {
  padding: 12px 30px;
  background-image: linear-gradient(to bottom, #BA0101, #1A1010);
  color: white;
  border-radius: 20px;
  border: none;
}
.login {
  background-image: url(../img/3.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;
}
.login .top {
  color: white;
  width: 800px;
  margin: auto;
  padding: 40px 0 100px;
  font-size: 18px;
}
.login .login-box {
  background-color: rgba(43, 43, 43, 0.5);
  width: 700px;
  margin: auto;
  padding: 10px 50px;
}
.login .login-box h2 {
  color: red;
  font-size: 48px;
  text-align: center;
  margin-bottom: 40px;
}
.login .login-box form .item {
  margin-bottom: 40px;
}
.login .login-box form .item p {
  color: white;
  font-size: 18px;
}
.login .login-box form .item input {
  padding: 13px;
  width: 100%;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.3);
  border-color: white;
}
.login .login-box form .item div {
  text-align: right;
}
.login .login-box form .item div a {
  color: white;
  font-size: 18px;
}
.login .login-box form .btn {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
}
.login .login-box form .btn input {
  padding: 12px 0;
  width: 100px;
  text-align: center;
  background-image: linear-gradient(to bottom, #BA0101, #1A1010);
  color: white;
  border-radius: 20px;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
.login .login-box .info p {
  font-size: 18px;
  color: white;
}
.login .login-box .info a {
  color: red;
  font-size: 18px;
}
/*# sourceMappingURL=./main.css.map */