<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>London Referee Group</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="shortcut icon" type="image/svg" href="img/logo-black.svg"/>

    <!-- Montserrat font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>

<body>
    <main id="app">
        <div id="page">

            <headercomp v-if="!isActive('/login')" :auth="authenticated" :uname="username" :route="$router.currentRoute.path"></headercomp>

            <router-view></router-view>
            
            <footercomp v-if="!isActive('/login')" :auth="authenticated" :route="$router.currentRoute.path"></footercomp>
        </div>

    </main>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router@3.5.1/dist/vue-router.js"></script>
    <script defer type="module" src="./js/main.js"></script>

</body>

</html>