
.classes {
    height: 80vh;
    margin-top      : 10px;
    background-color: #202020;
    // background-color: red;
    padding-top: 50px;

    .title {
        h2 {
            color: white;
            font-size: 40px;
            margin-bottom: 20px;
        }
    }

    .content {
        .row1 {
            padding-bottom: 80px;
            .item {
                width: 360px;

                .video {
                    video {
                        width: 100%;
                    }
                }

                .title {
                    font-size: 24px;
                    margin-top: 20px;
                    margin-bottom: 10px;
                    h3{
                        color: #ED0000;
                    }
                }

                p {
                    color: white;
                    line-height: 1.8;
                }
            }
        }

        // .row2 {
        //     .item {
        //         width: 360px;

        //         .video {
        //             video {
        //                 width: 100%;
        //             }
        //         }
        //     }
        // }
    }
    
    footer{
        .map{
            display: none;
        }
    }
}

@media screen and (max-width: 720px) {
    .classes{
        height: 170vh;
        .main-header {
            &.log-in {
                background-color: #BE0711;
            }
        }

            margin-top: 0;
            .flex-between{
                display: block;
            }
            .title{
                text-align: center;
                margin-bottom: 20px;
            }
            .content{
                .row1{
                    margin-bottom: 0;
                    .item{
                        width: 100%;
                        margin-bottom: 20px;
                        &:nth-last-child(1){
                            margin-bottom: 0;
                            padding-bottom: 20px;
                        }
                        .title{
                            margin:  5px 10px;
                            font-size: 18px;
                            &.flex-between{
                                display: flex;
                                align-items: center;
                            }
                        }
                        p{
                            margin: 5px 10px;
                            font-size: 16px;
                        }
                    }
                }
                // .row2{
                //     display: none;
                // }
            }
        footer{
            .map{
                display: block;
            }
        }
    }
}