
.contact{

    .main-header{
        background-color: #000000;
    }
    main{
        background-color: #000000;

        .lets-chat{
            padding-top: 100px;
            .left{
                width: 500px;
                img{
                    width: 100%;
                }
            }
            .right{
                h2{
                    font-size: 48px;
                    color: red;
                    margin-bottom: 50px;
                }
                p{
                    line-height: 1.8;
                    color: #ddd;
                }
            }
        }
        .contact-form{
            margin-top: 100px;
            .item{
                margin: 20px 0;
                &:nth-child(1){
                    input{
                        width: 49%;
                    }
                }
                input,textarea{
                    width: 100%;
                    background-color: #000;
                    border-color: white;
                    padding: 15px 20px;
                    border-radius: 10px;
                    color: #ddd;
                }
            }
            .btn{
                padding: 30px 0 60px;
                text-align: right;
                input{
                    padding         : 12px 30px;
                    background-image: linear-gradient(to bottom, #BA0101, #1A1010);
                    color           : white;
                    border-radius   : 20px;
                    border: none
                }
            }
        }
    }
}