
.container {
    width : 1200px;
    margin: auto;
}

.flex {
    display: flex;
}

.flex-between {
    display        : flex;
    justify-content: space-between;
}

.flex-between-center {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
}

.flex-align-center {
    display    : flex;
    align-items: center;
}

.flex-center-center {
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.red-blur {
    position : relative;
    font-size: 0;

    &:hover {
        div {
            opacity: 0;
        }
    }

    div {
        position        : absolute;
        background-color: red;
        opacity         : 0.3;
        top             : 0;
        bottom          : 0;
        left            : 0;
        right           : 0;
        transition      : all 0.3s;
    }
}

.hover-text {
    position : relative;
    overflow : hidden;
    font-size: 0;

    &:hover {
        div {
            right: 0;
            width: 100%;
        }
    }

    div {
        position        : absolute;
        top             : 0;
        bottom          : 0;
        right           : -999px;
        transition      : all 1s ease-in-out;
        background-color: rgba(255, 0, 0, 0.5);
        color           : white;
        display         : flex;
        justify-content : center;
        align-items     : center;
        font-size       : 30px;
    }
}

@keyframes anim-out {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@keyframes anim-out-pseudo {
    0% {
        background: dodgerblue;
    }

    100% {
        background: transparent;
    }
}

.hoverable {
    position: relative;
    overflow: hidden;
    z-index : 0;
}

.hoverable:hover>.anim {
    animation: anim-out 0.75s;
}

.hoverable:hover>.anim:after {
    animation: anim-out-pseudo 0.75s;
}


.anim {
    transform: translateY(-50%) translateX(-50%);
    position : absolute;
    top      : 50%;
    left     : 50%;
    z-index  : -1;
}

.anim:before {
    position  : relative;
    content   : '';
    display   : block;
    margin-top: 100%;
}

.anim:after {
    content      : '';
    position     : absolute;
    top          : 0;
    bottom       : 0;
    left         : 0;
    right        : 0;
    border-radius: 50%;
}

@media screen and (max-width: 720px) {

    .container {
        width: 100%;
    }
}